@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="~/Content/components/xenon-layout/xenon-section.html" />
<link rel="import" href="~/Content/components/xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="~/Content/components/paper-button/paper-button.html" />
<link rel="import" href="~/Content/components/paper-input/paper-input.html" />
<style>
    xenon-photo-card { max-width: 512px; margin:auto; background-color:var(--primary-background-color); }
</style>
<xenon-section style="height:100%;" src="~/Images/skyline.jpg" >
    @using (Html.BeginForm("Index", "Home"))
    {
        @Html.AntiForgeryToken();
        <input id="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" hidden />
        <xenon-photo-card heading="Elite Status">
            <main>
                <paper-input id="email" name="email" label="Email"></paper-input>
                <paper-input id="password" name="password" label="Password" type="password"></paper-input>
            </main>
            <buttons>
                <paper-button class="primary" style="width:100%;" onclick="submit()">Login</paper-button>
            </buttons>
        </xenon-photo-card>
    }
</xenon-section>

<script>
    function submit() {
        var form = document.getElementsByTagName("form")[0];
        form.submit();
    }
</script>